ALGORITHM=HS256
RESEND_API_KEY=
MANUFACTURER_API_BASE_URL=https://vms.dashcamrd.com:9367
RELOAD=false
MANUFACTURER_API_USERNAME=
FROM_EMAIL=noreply@app.dashcamrd.com
CLOUDINARY_API_SECRET=
GOOGLE_APPLICATION_CREDENTIALS=/app/firebase-credentials.json
MANUFACTURER_API_PASSWORD=
DATABASE_URL=postgresql://road:changeme@db:5432/dashcamdb
HOST=0.0.0.0
PORT=8000
SECRET_KEY=
VENDOR_FORWARDING_SECRET=
MANUFACTURER_TOKEN_EXPIRE_HOURS=24
CLOUDINARY_API_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=525600
CLOUDINARY_CLOUD_NAME=
